@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1f1d2b;
}



.swiper-button-next:after,
.swiper-button-prev::after {
  visibility: hidden;
}

.swiper_container {
  height: 100%;
  padding: 2rem 0;

  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}
.swiper-slide-next {
  padding-right: 200px;
}
.swiper-slide-prev {
  padding-left: 200px;
}

.slider-controler {
  position: relative;
  bottom: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 100% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 100% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 70% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 5% !important;
    transform: translateX(-20%) !important;
  }
}
